<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Write Blog"}); %>
  <body>
    <div class="createBlog">
      <h1>Write a blog</h1>
      <form action="<%= (typeof isEditing !== "undefined" && isEditing) ? "/blog/edit" : "/blog/create" %>" method="post">
        <label for="title">Title:</label>
        <br>
        <input maxlength="100" type="text" id="title" name="title" required="true" value="<%= typeof title !== "undefined" ? title : "" %>">
        <br>
        
        <select id="groups" name="group_id">
          <% var alreadyInGroup = false; %>
          <% for(var group of groups) { %>
            <% //For the groupname, if the groupname of this blog is in the groups array, add the selected attribute %>
            <% var selectString = ""; %>
            <% if(typeof group_id !== "undefined" && group_id == group.id) {
                let selectedString = "selected";
                alreadyInGroup = true;
            } %>
            <option value="<%= group.id %>" <%= selectString %>><%= group.groupname %></option>
          <% } %>
          <option value="" <%= alreadyInGroup ? "" : "selected" %>>No Group</option>
        </select>
        <br>
        <label for="blogContent">Blog Content:</label>
        <br>
        <textarea maxlength="5000" name="blogContent" id="blogContent" required="true"><%= typeof body !== "undefined" ? body : "" %></textarea>
        <br>
        <% if(typeof isEditing !== "undefined") { %>
          <input type="hidden" value="<%= blogId %>" name="blogId">
        <% } %>
        <input class="button" type="submit" value="Publish Blog">
      </form>
    </div>

    <% if(hasOwnProperty("error") && error) { %>
      <script>
        alert("Failed to Create Blog");
      </script>
    <% } %>
  </body>
</html>