<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Blogs"}); %>
  <body>
    <div class="blogView">
        <% for(var row of BlogData) { %>
            <div class="blogRow">
              <!-- Append row.id to URL so that the user can be redirected to the correct blog post -->
              <h2><a href="/blog/id/<%= row.id %>">  <%= row.title %>  </a></h2>
                <i><%= row.date_utc %></i>
                <br>
                <p><%= row.body %></p>
            </div>
        <% } %>
    </div>
  </body>
</html>
