<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: Blogs"}); %>
  <body>
    <div class="blogView">
        <% for(var row of BlogData) { %>
            <div class="blogRow">
              <h2><a href="/blog/id/" + <%= row.id %>>  <%= row.title %>  </a></h2>
                <%= row.date_utc %>
                <br>
                <p><%= row.body %></p>
            </div>
        <% } %>
    </div>
  </body>
</html>
