<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: " + User}); %>
  <body>
    <!-- Displays the buttons -------------------------------------------------------------------------------------------------------------- -->
    <% if(User == Account) { %> 
      <div class="blogButtons">
       <a href="/blog/create">
         <button>Write a Blog</button>
       </a>
       <a href="/blog/group/create">
        <button>Create a Blog Group</button>
      </a>
     </div>
    <% } %>
    
    <div class="blogView">
      <!-- Displays the blog groups -------------------------------------------------------------------------------------------------------- -->
      <% if(BlogGroup.length != 0) { %>
        <h1>Blog Groups</h1>
      <% } %>
      <% for(var group of BlogGroup) { %>
        <div class="blogGroup">
          <div class="titleLine">
            <h2><%= group.groupname %></h2>
            <div class="smallButtons">
              <a href="/blog/group/edit?groupname=<%= group.groupname %>"><button>Edit</button></a>
              <form id="delete-group-<%= group.groupname %>" action="/blog/group/delete" method="post">
                <input 
                  type="submit" 
                  value="Delete"
                  onclick="confirmBeforeSubmitListener(
                    'delete-group-<%= group.groupname %>', 
                    'Are you sure you want to delete group <%= group.groupname %>?'
                  )"
                >
                <input type="hidden" value="<%= group.groupname %>" name="groupname">

                <input type="radio" id="keep" name="keepBlogs" value='true' checked>
                <label for="user">Keep Blogs</label>
                <input type="radio" id="no-keep" name="keepBlogs" value="false">
                <label for="title">Delete Blogs</label>
              </form>
            </div>
          </div>
          
          <% for(var row of BlogData) { %>
            <% if(row.groupname == group.groupname) { %>
              <div class="blogRow">
                <div class="titleLine">
                  <h2><a href="/blog/id/<%= row.id %>">  <%= row.title %>  </a></h2>
                  <% if(hasOwnProperty("User") && Account == row.user) { %> 
                    <div class="smallButtons">
                      <form action="/blog/group/move" method="post">
                        <label for="groups">Move to a Group:</label>
                        <select id="groups" name="groups">
                          <option value="none" selected disabled hidden>Select a Group</option>
                          <% for(var groups of BlogGroup) { %>
                            <option value="<%= groups.groupname %>"><%= groups.groupname %></option>
                          <% } %>
                        </select>
                        <input type="hidden" name="blogId" value="<%= row.id %>">
                        <input type="submit" value="Move">
                      </form>
                      <a href="/blog/edit?blogId=<%= row.id %>">
                        <button>Edit</button>
                      </a>
                      <form id="delete-post-<%= row.id %>" action="/blog/delete" method="post">
                        <input type="hidden" name="blogId" value="<%= row.id %>">
                        <button 
                          onclick="confirmBeforeSubmitListener('delete-post-<%= row.id %>', 'Are you sure you want to delete this post?')"
                        >
                          Delete
                        </button>
                      </form>
                    </div>
                  <% } %>
                </div>
                <i id="blogDate<%= row.id %>"><%= row.date_utc %></i>
                <br>
                <p><%= row.body %></p>
              </div>
            <% } %>
          <% } %>
        </div>
      <% } %>

      <!-- Displays the blogs -------------------------------------------------------------------------------------------------------------- -->
      <% const unsortedBlogs = BlogData.filter((blogRow) => blogRow.group_id == null) %>

      <% if(unsortedBlogs.length != 0) { %>
        <h1>Blogs</h1>
      <% } %>
      <% for(var row of unsortedBlogs) { %>
        <div class="blogRow">
          <div class="titleLine">
            <h2><a href="/blog/id/<%= row.id %>">  <%= row.title %>  </a></h2>
            <% if(hasOwnProperty("User") && Account == row.user) { %> 
              <div class="smallButtons">
                <form action="/blog/group/move" method="post">
                  <label for="groups">Move to a Group:</label>
                  <select id="groups" name="groups">
                    <option value="none" selected disabled hidden>Select a Group</option>
                    <% for(var groups of BlogGroup) { %>
                      <option value="<%= groups.groupname %>"><%= groups.groupname %></option>
                    <% } %>
                  </select>
                  <input type="hidden" name="blogId" value="<%= row.id %>">
                  <input type="submit" value="Move">
                </form>
                <a href="/blog/edit?blogId=<%= row.id %>">
                  <button>Edit</button>
                </a>
                <form id="delete-post-<%= row.id %>" action="/blog/delete" method="post">
                  <input type="hidden" name="blogId" value="<%= row.id %>">
                  <button 
                    onclick="confirmBeforeSubmitListener('delete-post-<%= row.id %>', 'Are you sure you want to delete this post?')"
                  >
                    Delete
                  </button>
                </form>
              </div>
            <% } %>
          </div>
          <i id="blogDate<%= row.id %>"><%= row.date_utc %></i>
          <br>
          <p><%= row.body %></p>
        </div>
      <% } %>

    </div>
    <script src="/js/date_localization.js"></script>
    <script src="/js/are-you-sure.js"></script>
    <script>
      writeLocalizedDateOfElementsStartingWith("blogDate");
    </script>
  </body>
</html>