<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: " + User}); %>
  <body>
    <!-- Displays the buttons -------------------------------------------------------------------------------------------------------------- -->
    <% if(User == Account) { %> 
      <div class="blogButtons">
       <a href="/blog/create">
         <button>Write a Blog</button>
       </a>
       <a href="/blog/group/create">
        <button>Create a Blog Group</button>
      </a>
     </div>
    <% } %>
    
    <div class="blogView">
      <!-- Displays the blog groups -------------------------------------------------------------------------------------------------------- -->
      <h1>Blog Groups</h1>
      <% for(var group of BlogGroup) { %>
        <div class="blogRow">
          <h2><%= group.groupname %></h2>
        </div>
      <% } %>

      <!-- Displays the blogs -------------------------------------------------------------------------------------------------------------- -->
      <h1>Blogs</h1>
      <% for(var row of BlogData) { %>
        <div class="blogRow">
          <!-- Append row.id to URL so that the user can be redirected to the correct blog post -->
          <h2><a href="/blog/id/<%= row.id %>">  <%= row.title %>  </a></h2>
            <i id="blogDate<%= row.id %>"><%= row.date_utc %></i>
            <br>
            <p><%= row.body %></p>
        </div>
      <% } %>
    </div>
    <script src="/js/date_localization.js"></script>
    <script>
      writeLocalizedDateOfElementsStartingWith("blogDate");
    </script>
  </body>
</html>
