<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title: "Bloggy: " + blog.title }); %>
  <body>

    <!-- Displays the blog --------------------------------------------------------------------------------------------------------------- -->
    <div class="blogView"><div class="individual">
      <div class="titleLine">
        <h2><%= blog.title %></h2>
        <% if(hasOwnProperty("User") && User == blog.user) { %> 
          <div class="smallButtons">
            <form action="/blog/group/move" method="post">
              <label for="groups">Move to a Group:</label>
              <select id="groups" name="groups">
                <option value="none" selected disabled hidden>Select a Group</option>
                <% for(var groups of BlogGroup) { %>
                  <option value="<%= groups.groupname %>"><%= groups.groupname %></option>
                <% } %>
              </select>
              <input type="hidden" name="blogId" value="<%= blog.id %>">
              <input type="submit" value="Move">
            </form>
            <a href="/blog/edit?blogId=<%= blog.id %>">
              <button>Edit</button>
            </a>
            <form action="/blog/delete" method="post">
              <input type="hidden" name="blogId" value="<%= blog.id %>">
              <button>Delete</button>
            </form>
          </div>
        <% } %> 
      </div>
      <i id="blogDate<%= blog.id %>"><%= blog.date_utc %></i>
      <br><br>
      <p><%= blog.body %></p>
    </div></div>

    <!-- Write a Comment ----------------------------------------------------------------------------------------------------------------- -->
    <div class="createComment">
      <% if(hasOwnProperty("User") && User != null) { %>
        <h1>Write a Comment</h1>
        <form action="/blog/comment" method="post">
          <input type="hidden" name="blogId" value=<%= blog.id %>>
          <textarea name="blogComment" id="blogComment" required="true"></textarea>
          <br>
          <input class="button" type="submit" value="Comment">
        </form>
        <br>
      <% } %>
      <!-- Displays the Comments --------------------------------------------------------------------------------------------------------- -->
      <% if(CommentData.length != 0) { %>
        <h1>Comments</h1>
      <% } %>
    </div>
    <div class="blogView">
      <% for(var row of CommentData) { %>
        <% var userIsCommenter = hasOwnProperty("User") && User == row.commenter; %>
        <div class="blogRow" id="comment<%= row.comment_id %>">

          <!-- Editing the Comment ------------------------------------------------------------------------------------------------------- -->
          <% if(editCommentId == row.comment_id && userIsCommenter) { %>
            
            <form action="/blog/comment/edit" method="post">
              <input type="hidden" name="commentId" value="<%= row.comment_id %>"/>
              <div class="titleLine">
                <h3><%= row.commenter %></h3>
              </div>
              <textarea name="commentBody"><%= row.body %></textarea>
              <br>
              <input type="submit" value="Edit Comment"/>
            </form>

          <!-- Not Editing the Comment --------------------------------------------------------------------------------------------------- -->
          <% } else { %>
            <div class="titleLine">
              <h3><%= row.commenter %></h3>
              <% if(userIsCommenter) { %>
                <div class="smallButtons">
                  <a href="/blog/comment/edit?commentId=<%= row.comment_id %>">
                    <button>Edit</button>
                  </a>
                  <form action="/blog/comment/delete" method="post">
                    <input type="hidden" name="commentId" value="<%= row.comment_id %>">
                    <button>Delete</button>
                  </form>
                </div>
              <% } %>
            </div>
            <i id="commentDate<%= row.comment_id %>"><%= row.date_utc %></i>
            <br>
            <p><%= row.body %></p>
          <% } %>

        </div>
      <% } %>
    </div>

    <script src="/js/date_localization.js"></script>
    <script>
      writeLocalizedDateOfElementsStartingWith("blogDate");
      writeLocalizedDateOfElementsStartingWith("commentDate", "<%= editCommentId %>");
    </script>
  </body>
</html>